<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://harbor.app/tv" version="2.1.0" viewmodes="maximized">
  <tizen:application id="HbrTV2026A.HarborTV" package="HbrTV2026A" required_version="3.0" />
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <icon src="icon.png" />
  <name>Harbor</name>
  <access origin="https://andrekalberer.github.io" subdomains="false" />
  <access origin="https://iptv-org.github.io" subdomains="false" />
  <access origin="https://api.themoviedb.org" subdomains="false" />
  <access origin="https://image.tmdb.org" subdomains="false" />
  <access origin="https://itunes.apple.com" subdomains="false" />
  <access origin="https://de1.api.radio-browser.info" subdomains="false" />
  <access origin="https://openlibrary.org" subdomains="false" />
  <access origin="https://covers.openlibrary.org" subdomains="false" />
  <access origin="https://vidlink.pro" subdomains="false" />
  <access origin="https://commondatastorage.googleapis.com" subdomains="false" />
  <access origin="https://www.xbox.com" subdomains="false" />
  <access origin="https://play.geforcenow.com" subdomains="false" />
  <access origin="https://luna.amazon.com" subdomains="false" />
  <tizen:profile name="tv-samsung" />
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" />
</widget>
